/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: _Plain;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 6pt;
	cell-padding-left: 6pt;
	cell-padding-right: 6pt;
	cell-padding-bottom: 4pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	background-color: #b2b2b2;
	separator-style: solid;
	separator-width: 1.25pt;
	separator-color: #000000;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-_Plain
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing: 0px 0px;
}

.TableStyle-_Plain-Column-Column1
{
	
}

.TableStyle-_Plain-Head-Header1
{
	
}

.TableStyle-_Plain-HeadI-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #b2b2b2;
}

.TableStyle-_Plain-HeadI-Column1-Header1 p
{
	
}

.TableStyle-_Plain-HeadE-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #b2b2b2;
	border-bottom-width: 1.25pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-_Plain-HeadE-Column1-Header1 p
{
	
}

.TableStyle-_Plain-HeadF-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #b2b2b2;
	border-bottom-width: 1.25pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-_Plain-HeadF-Column1-Header1 p
{
	
}

.TableStyle-_Plain-HeadH-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #b2b2b2;
}

.TableStyle-_Plain-HeadH-Column1-Header1 p
{
	
}

.TableStyle-_Plain-HeadD-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #b2b2b2;
	border-bottom-width: 1.25pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-_Plain-HeadD-Column1-Header1 p
{
	
}

.TableStyle-_Plain-HeadC-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #b2b2b2;
}

.TableStyle-_Plain-HeadC-Column1-Header1 p
{
	
}

.TableStyle-_Plain-HeadB-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #b2b2b2;
}

.TableStyle-_Plain-HeadB-Column1-Header1 p
{
	
}

.TableStyle-_Plain-HeadA-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #b2b2b2;
}

.TableStyle-_Plain-HeadA-Column1-Header1 p
{
	
}

.TableStyle-_Plain-HeadG-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #b2b2b2;
}

.TableStyle-_Plain-HeadG-Column1-Header1 p
{
	
}

.TableStyle-_Plain-Foot-Footer1
{
	
}

.TableStyle-_Plain-FootI-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-FootI-Column1-Footer1 p
{
	
}

.TableStyle-_Plain-FootE-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-FootE-Column1-Footer1 p
{
	
}

.TableStyle-_Plain-FootF-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-FootF-Column1-Footer1 p
{
	
}

.TableStyle-_Plain-FootH-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-FootH-Column1-Footer1 p
{
	
}

.TableStyle-_Plain-FootD-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-_Plain-FootD-Column1-Footer1 p
{
	
}

.TableStyle-_Plain-FootC-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-FootC-Column1-Footer1 p
{
	
}

.TableStyle-_Plain-FootB-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-FootB-Column1-Footer1 p
{
	
}

.TableStyle-_Plain-FootA-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-_Plain-FootA-Column1-Footer1 p
{
	
}

.TableStyle-_Plain-FootG-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-_Plain-FootG-Column1-Footer1 p
{
	
}

.TableStyle-_Plain-Body-Body1
{
	
}

.TableStyle-_Plain-BodyI-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-BodyI-Column1-Body1 p
{
	
}

.TableStyle-_Plain-BodyE-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-BodyE-Column1-Body1 p
{
	
}

.TableStyle-_Plain-BodyF-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-BodyF-Column1-Body1 p
{
	
}

.TableStyle-_Plain-BodyH-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-BodyH-Column1-Body1 p
{
	
}

.TableStyle-_Plain-BodyD-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-_Plain-BodyD-Column1-Body1 p
{
	
}

.TableStyle-_Plain-BodyC-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-BodyC-Column1-Body1 p
{
	
}

.TableStyle-_Plain-BodyB-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-BodyB-Column1-Body1 p
{
	
}

.TableStyle-_Plain-BodyA-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-_Plain-BodyA-Column1-Body1 p
{
	
}

.TableStyle-_Plain-BodyG-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-_Plain-BodyG-Column1-Body1 p
{
	
}

.TableStyle-_Plain-Body-Body2
{
	
}

.TableStyle-_Plain-BodyI-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-BodyI-Column1-Body2 p
{
	
}

.TableStyle-_Plain-BodyE-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-BodyE-Column1-Body2 p
{
	
}

.TableStyle-_Plain-BodyF-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-BodyF-Column1-Body2 p
{
	
}

.TableStyle-_Plain-BodyH-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-BodyH-Column1-Body2 p
{
	
}

.TableStyle-_Plain-BodyD-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-_Plain-BodyD-Column1-Body2 p
{
	
}

.TableStyle-_Plain-BodyC-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-BodyC-Column1-Body2 p
{
	
}

.TableStyle-_Plain-BodyB-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-_Plain-BodyB-Column1-Body2 p
{
	
}

.TableStyle-_Plain-BodyA-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-_Plain-BodyA-Column1-Body2 p
{
	
}

.TableStyle-_Plain-BodyG-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-_Plain-BodyG-Column1-Body2 p
{
	
}


